
#login1 {
    background-color: #ACBCFF;
    min-height: 95vh;
}
.loginpage {
    min-height: 97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginframe {
    background: #ffffff;
    border: 1px solid #dde2e5;
    border-radius: 20px;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 30px;
    text-align: center;
}
.button{
    background: #B799FF;
    color: #fff;
    padding: 8px 0;
    min-width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}
.input1{
   
    
    border: none;
    background: rgba(239,241,249,.6);
    border-radius: 6px;
    padding: 10px;
    outline: none;
    width:300px;
    margin-top: 10px;
    background-color: #E6FFFD;
}
.createacount{
color:black;
margin-Top: 10px

}